# Byte-compiled / optimized / DLL files
__pycache__/

# Sublime Project Files
*sublime-workspace

# Testing
team*.json

# To do files
todo.txt
cache/pokeballs/all-balls.png
cache/pokeballs/all-balls.psd
cache/pokeballs/poke-ball.jpg
